$itemHeight: 40px;

.mainPage {
  border: 3px solid lightcoral;
  height: 100vh;
  .dropArea {
    & > div {
      display: flex;
      .itemWrapper {
        display: flex;
        border: 2px solid purple;
        justify-content: center;
        align-items: center;
        height: $itemHeight;
        margin: 0 6px 0 0;

        .itemHandle {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid blue;
          height: 100%;
          background-color: gray;
          padding: 0 6px;
          cursor: grab;
        }

        .quoteItem {
          min-width: 70px;
          height: 100%;
          border: 1px solid grey;

          background-color: lightblue;
          padding: 4px 6px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
