$itemHeight: 40px;

.mainPage {
  user-select: none;
  border: 3px solid lightcoral;
  height: 100vh;
  display: flex;
  padding-right: 20px;

  aside {
    width: 160px;
    background-color: #001529;
    margin-right: 20px;

    .imgPanel {
      border: 2px solid red;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 80%;
        margin: 0 auto 20px;
        padding: 2px;
        cursor: grab;
      }
    }
  }

  .dropArea {
    flex: 1;
    & > section {
      & > div {
        display: flex;
        margin-bottom: 20px;
        background-color: #001529;

        &.droppableSeperator {
          // border: 2px solid rgb(48, 182, 227);
          background-color: transparent;
          height: 10px;
          &.dropping {
            background-color: rgb(48, 182, 227);
          }
        }

        .itemWrapper {
          display: flex;
          border: 2px solid purple;
          justify-content: center;
          align-items: center;
          height: $itemHeight;
          margin: 0 6px 0 0;

          .itemHandle {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid blue;
            height: 100%;
            background-color: gray;
            padding: 0 6px;
            cursor: grab;
          }

          .quoteItem {
            min-width: 70px;
            height: 100%;
            border: 1px solid grey;

            background-color: lightblue;
            padding: 4px 6px;
            display: flex;
            justify-content: center;
            align-items: center;

            &.background {
              background-size: 40px 100%;
              background-repeat: repeat-x;
            }
            &.img0 {
              background-image: url('../assets/img0.jpeg');
            }
            &.img1 {
              background-image: url('../assets/img1.png');
            }
            &.img2 {
              background-image: url('../assets/img2.png');
            }
            &.img3 {
              background-image: url('../assets/img3.png');
            }
            &.img4 {
              background-image: url('../assets/img4.jpeg');
            }
            &.img5 {
              background-image: url('../assets/img5.jpeg');
            }
            &.img6 {
              background-image: url('../assets/img6.jpeg');
            }
            &.img7 {
              background-image: url('../assets/img7.jpeg');
            }
            &.img8 {
              background-image: url('../assets/img8.jpeg');
            }
            &.img9 {
              background-image: url('../assets/img9.jpeg');
            }
            &.outside-img1 {
              background-image: url('../assets/dragimg1.jpeg');
            }
            &.outside-img2 {
              background-image: url('../assets/dragimg2.jpeg');
            }
            &.outside-img3 {
              background-image: url('../assets/dragimg3.jpeg');
            }
          }
        }
      }
    }
  }
}
